@font-face {
  font-family: "SEBANG_Gothic_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 350px;
  max-width: 100%;
  min-height: 200px;
  max-height: 100%;
  position: relative;
  vertical-align: middle;
}

.body-header {
  padding: 5px;
  font-family: SEBANG_Gothic_Bold;
  border-bottom: 2px solid #6799ff;
  border-top: 2px solid #6799ff;
  text-align: center;
}

.body-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  align-items: center;
}

.body-footer {
  padding: 10px;
  font-family: SEBANG_Gothic_Bold;
  border-bottom: 2px solid #6799ff;
  border-top: 2px solid #6799ff;
  text-align: center;
}

.item {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.item:hover {
  opacity: 0.5;
}

.img-item:hover {
  opacity: 0.5;
  width: 48px;
}

.img-item2:hover {
  opacity: 0.5;
  width: 64px;
}

.img-item3:hover {
  opacity: 0.5;
  width: 58px;
}

.img-h {
  vertical-align: middle;
  margin: 10px;
  margin-right: 40px;
}

.text-h {
  font-size: 13px;
  vertical-align: middle;
}

.span-h {
  display: none;
  font-size: 13px;
  vertical-align: middle;
  padding-top: 20px;
}

hr {
  border: dashed 0.5px #6799ff;
  width: 95%;
}

button {
  background: #6799ff;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  width: 63px;
  font-size: 1.1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 0px 3px;
}

button:hover {
  background: #fff;
  color: #6799ff;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #6799ff;
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
